.login-title{
    text-align: center;
}

.login-text{
    text-align: center;
}

.modal{
    background-color: #0004 !important;
}

button.btn.btn-primary.delete_service {
    margin-left: 8px;
}

a.add_btn_subscription {
    margin-top: -15px;
    float: right;
}